@font-face {
	font-family: fab;
	src: url("../parts/fa/fa-brands-400.ttf");
}
@font-face {
	font-family: fas;
	src: url("../parts/fa/fa-solid-900.ttf");
}

@font-face {
	font-family: far;
	src: url("../parts/fa/fa-regular-400.ttf");
}

.fab {
	font-family: "fab";
}

.far {
	font-family: "far";
}

.fas {
	font-family: "fas";
}

