meter::-webkit-meter-bar {
  background: var(--dark);
  border: 1px solid rgb(43, 40, 40);
  height: 30px;
  width: 7.5vw;
  position: fixed;
  top: 58%;
  left: 3.6vw;
  margin-block-start: 50px;
}

.meter-span {
    position: fixed;
    color: var(--main);
    font-weight: 900;
    left: 6.5vw;
    top: 58.4%;
    margin-block-start: 50px;
}

meter::-webkit-meter-optimum-value {
  background-image: linear-gradient(
    40deg,
    #1c8bf1 5%,
    #5085e6 5%,
    #5091e6 15%,
    #7285d8 25%,
    #6898f2 35%,
    #6055f7 55%,
    #1100ff 65%,
    #01438a 85%,
    #03182e 100%
  );
}

.read-btn::before {
  content: "\f658";
}

.all-btn::before {
  content: "\f674";
}

.favorite-btn::before {
  content: "\f005";
}

.inbox-btn::before {
  content: "\f0e0";
}

.unread-btn::before {
  content: "\f2bb";
}

.sent-btn::before {
  content: "\f1d8";
}

.draft-btn::before {
  content: "\f249";
}

.deleted-btn::before {
  content: "\f2ed";
}

.pluss::before {
  content: " \f067";
}
.mfl {
  width: 50%;
  display: flex;
  background-color:none;
}



.pluss {
  background: -webkit-linear-gradient(
    yellow,
    red,
    rgb(7, 233, 44),
    rgb(25, 10, 226)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 2.3vw;
}


.compose, .sidebar-layout .first {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.compose, .sidebar-layout .last {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.mail-folder.btn:hover {
  background: var(--dark);
}

.mail-folder.btn:hover span {
    color: var(--main);
}

.mail-folder.btn:hover .pluss, .mail-folder.btn:hover .compose-span  {
    color: rgb(238, 234, 234);
    background:unset;
 -webkit-background-clip: unset; 
    -webkit-text-fill-color: unset;
}

.mail-folder.btn {
  background-color:white;
  border: unset;
  padding: 0;
  margin: 0;
  border-color: rgb(207, 186, 186);
  width: 12vw;
  height: 50px;
  font-family: monst, serif;
  color: rgb(12, 11, 11);
  font-weight: bold;
  cursor: pointer;
  margin-inline-start: 1.4vw;
  font-size: 1vw;
}
.sidebar-layout >* {
    text-decoration: unset;
}

.mail-folder.btn.active {
  border-block-start:solid 2px var(--dark);
  border-block-end:solid 2px var(--dark);
}

.link {
  text-decoration: none;
  max-width:100px;
}

.sidebar-layout {
  position: fixed;
  top:20%;
}

#search {
position: absolute;
left: 50%;
transform:translateX(-50%);
height:50px;
width:400px;
text-align: center;
border-color:var(--dark);;
border-radius: 25px;
}

.compose {
    position: fixed;
    width: 100%;
    display: inline-flex;
    font-size: 1vw;
    font-weight: bolder;
}

.compose-span {
    font-weight: 900;
    background: -webkit-linear-gradient(
        red,
        rgb(7, 233, 44),
        rgb(25, 10, 226),
        yellow
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}