.fas,
.fab,
.far {
  background-color: inherit;
  border: unset;
  display: inline-block;
  cursor: pointer;
}
.star {
  color: var(--back);
  grid-column: 1/2;
}
.star.on {
  color: rgb(255, 238, 0);
}
.star::before {
  content: "\f005";
}

.letter-read::before {
  content: "\f2b6";
}
.letter-unread::before {
  content: "\f0e0";
}
.trash::before {
  content: "\f2ed";
}

.each-mail {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 50px);
}

.mail-preview.container {
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  border-inline-start: 2px solid var(--dark);
  border-inline-end: 2px solid var(--dark);
  border-block-end: 1px dashed var(--dark);
  background-color:#FFF;
}

.mail-preview.container:first-of-type {
    border-block-start: 2px solid var(--dark);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.mail-preview.container:last-of-type {
    border-block-end: 2px solid var(--dark);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.bold {
  font-weight: 900;
}

.light {
    font-weight: 100;

}

.mail-txt.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 0.8vw;
}

.mail-preview-time {
  grid-column: 12/13;
  font-size: 0.6vw;
  width: 100%;
  font-weight: 400;
}

.mail-preview-name {
  grid-column: 2/3;
  width: 100%;
}

.mail-preview-txt-container {
    grid-column: 3/12;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .mail-preview-time {
        font-size: 3vw;
    }

}