
.fas, .fab, .far {
  background-color: inherit;
  border: unset;
  display: inline-block;
  color: gray;
}

.star,.trash, .letter-read, .letter-unread {
    cursor: pointer;
}

.star.on {
    color: rgb(255, 238, 0);
}
.star::before {
  content: "\f005";
}

.letter-read::before {
    content: "\f2b6";
}
.letter-unread::before {
    content: "\f0e0";
}
.trash::before {
    content: "\f2ed";
}

.mail-preview {
display:flex;
align-items:center;
}

.mail-preview.container {
    padding-inline-start: 30px;
    padding-inline-end: 30px;
  display: flex;
  justify-content: space-between;
  margin-inline-end: 10px;
    border-inline-start: 1px solid black;
    border-inline-end: 1px solid black;
    border-block-end: 1px solid black;
}

.mail-preview.container:first-of-type {
    border-block-start: 1px solid black;
}

.mail-preview.title {
  font-size: 1.3rem;
  margin: 5px;
}

.bold {
font-weight: bolder;
}

.mail-txt.container {
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 60vw;
}