.note-todo {
	flex-direction: column;
	justify-content: space-around;
}

.note-todo .note-todo-label {
	width: max-content;
	margin-inline-start: auto;
	font-size: 1.5rem;
	font-weight: bold;
	text-decoration: underline;
	padding-bottom: 10px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
}
.note-todo ol {
	flex-direction: column;
}
.note-todo ol li {
	font-size: 1.5rem;
	padding: 0;
}
.note-todo ol {
	direction: ltr;
	margin: 0;
}

.todos-li {
	cursor: pointer;
}

.done {
	text-decoration: line-through;
}
