.note-img {
	flex-direction: column;
}
.note-img h2 {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	width: max-content;
	max-width: 100%;
	margin: -10px auto 10px;
	padding: 0px 10px;
}

.note-img img {
	width: 260px;
}
