.note-video {
	padding: 0;
	flex-direction: column;
}

.video-label {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	width: max-content;
	margin: 10px auto 10px;
	padding: 0px 10px;
}
.note-video iframe {
	border-top: 0;
	border-radius: 15px;
}
