.keep-header {
	height: 10vh;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	font-weight: bold;
	border-bottom: 1px solid rgba(0, 0, 0, 0.267);
	gap: 20px;
	background-color: var(--main);
}
.no-notes {
	font-size: 3rem;
	text-align: center;
	margin: auto;
}

.note-list {
	margin: auto;
	width: 90%;
	column-count: 5;
	column-width: 300px;
	background-color: var(--main);
}
