.note-preview {
	display: flex;
	position: relative;
	width: 300px;
	height: max-content;
	min-height: 250px;
	padding: 20px;
	cursor: pointer;
}

#delete-note,
#duplicate-note {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 2rem;
	color: aliceblue;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.575);
}

#duplicate-note {
	right: 2.7rem;
}

.duplicate::before {
	content: "\f24d";
}
