.text::before {
	content: "\f031";
}
.image::before {
	content: "\f302";
}
.video::before {
	content: "\f167";
}
.list::before {
	content: "\f03a";
}
.plus::before {
	content: "\f0fe";
}
.plus {
	text-decoration: none;
}

.fillter-btn {
	font-size: 3rem;
}

.text-fillter {
	height: 3rem;
	display: flex;
	border-radius: 15px;
	border: none;
	text-align: center;
	color: var(--dark);
	font-weight: bold;
}

.text-fillter::placeholder {
	color: var(--dark);
	font-weight: bold;
}
