.note-preview {
	display: inline-flex;
	position: relative;
	width: 300px;
	height: max-content;
	min-height: 150px;
	padding: 20px;
	margin: 20px;
	border-radius: 15px;
}

#delete-note,
#duplicate-note,
#edit-note {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 2rem;
	color: aliceblue;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.575);
}

#duplicate-note {
	right: 2.7rem;
}
#edit-note {
	right: 5.5rem;
}

.duplicate::before {
	content: "\f24d";
}

.edit::before {
	content: "\f044";
}
