/* cmps */
@import "../css/cmps/user-msg.css";
@import "../css/cmps/app-header.css";

/* books */
@import "../css/apps/books/book-list.css";
@import "../css/apps/books/book-preview.css";
@import "../css/apps/books/book-details.css";
@import "../css/apps/books/review-add.css";
@import "../css/apps/books/add-book.css";

/* fonts */
@import "../css/parts/fonts.css";

* {
	box-sizing: border-box;
}

body {
	background-color: #c7efff;
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.books-filter {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5vh;
}
.flex {
	display: flex;
}
