.book-preview {
	margin: 0;
	display: grid;
	background-color: var(--dark);
	border-radius: 20px;
	cursor: pointer;
}

.book-preview img {
	justify-self: center;
	width: 250px;
	height: 333px;
	border-radius: 20px;
}

.book-preview h2 {
	text-align: center;
	margin: 0;
}
.clean-link {
	text-decoration: none;
	color: var(--main);
}
